{% extends "base.html" %}
{% block title %}Major Requirements{% endblock %}   

{% block content%}

<div class="text-center">
    <h1>Computer Science Major</h1>
    <h5>Necesary Courses for Computer Science Major at Pitt</h5>

    <div class="card-body">
        <div class="container">
            <div class="text-center">
                <div class="card">
                    <div class="card-block">
                        <h1 class="card-title">Core Courses</h4>
                        <p class="card-text">
                        <h5 class="card-title">CMPINF 0401</h5>
                        <p class="card-text">
                            <a href="http://courses.sci.pitt.edu/courses/view/CMPINF-0401">Intermediate Programming</a>
                        </p>
                    
                        <h5 class="card-title">CS 0441</h5>
                        <p class="card-text">
                            <a href="http://courses.sci.pitt.edu/courses/view/CS-0441">Discrete Structures for CS</a>
                        </p>
                
                        <h5 class="card-title">CS 0445</h5>
                        <p class="card-text">
                            <a href="http://courses.sci.pitt.edu/courses/view/CS-0445">Data Structures</a>
                        </p>
                    
                        <h5 class="card-title">CS 0447</h5>
                        <p class="card-text">
                            <a href="http://courses.sci.pitt.edu/courses/view/CS-0447">Computer Organization and Assembly Language</a>
                        </p>
                    
                        <h5 class="card-title">CS 0449</h5>
                        <p class="card-text">
                            <a href="http://courses.sci.pitt.edu/courses/view/CS-0449">Introduction to Systems Software</a>
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="container">
            <div class="text-center">
                <div class="card">
                  <div class="card-block">
                        <h1 class="card-title">Upper Level Courses</h1>
                        <p class="card-text">

                        <h5 class="card-title">CS 1501</h5>
                        <p class="card-text">
                            <a href="http://courses.sci.pitt.edu/courses/view/CS-1501">Algorithm Implementation</a>
                        </p>
                
                        <h5 class="card-title">CS 1502</h5>
                        <p class="card-text">
                            <a href="http://courses.sci.pitt.edu/courses/view/CS-1502">Formal Methods in Computer Science</a>
                        </p>
                
                        <h5 class="card-title">CS 1550</h5>
                        <p class="card-text">
                            <a href="http://courses.sci.pitt.edu/courses/view/CS-1550">Introduction to Operating Systems</a>
                        </p>
              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="container">
            <div class="text-center">
                <div class="card">
                    <div class="card-block">
                        <h1 class="card-title">Mathematics Requirements</h1>
                        <p class="card-text">

                            <h5 class="card-title">MATH 0220</h5>
                            <p class="card-text">
                                <a href="https://catalog.upp.pitt.edu/preview_course_nopop.php?catoid=5&coid=6918">Analytic Geometry and Calculus 1</a>
                            </p>

                            <h5 class="card-title">MATH 0230</h5>
                            <p class="card-text">
                                <a href="https://catalog.upp.pitt.edu/preview_course_nopop.php?catoid=188&coid=993803">Analytic Geometry and Calculus 2</a>
                            </p>

                            <h5 class="card-title">STAT 1000</h5>
                            <p class="card-text">
                                <a href="https://catalog.upp.pitt.edu/preview_course_nopop.php?catoid=5&coid=7292">Applied Statistical Methods</a>
                            </p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h1>Physics Minor</h1>
    <h5>Necessary Classes in Order to Graduate With a Minor in Physics</h5>

    <div class="card-body">
        <div class="container">
            <div class="text-center">
                <div class="card">
                    <div class="card-block">
                        <h1 class="card-title">Physics Courses</h1>
                        <p class="card-text">

                            <h5 class="card-title">PHYS 0174</h5>
                            <p class="card-text">
                                <a href="https://catalog.upp.pitt.edu/preview_course_nopop.php?catoid=72&coid=381892">Basic Physics for Science and Engineering 1</a>
                            </p>

                            <h5 class="card-title">PHYS 0175</h5>
                            <p class="card-text">
                                <a href="https://catalog.upp.pitt.edu/preview_course_nopop.php?catoid=72&coid=381893">Basic Physics for Science and Engineering 2</a>
                            </p>

                            <h5 class="card-title">PHYS 0219</h5>
                            <p class="card-text">
                                <a href="https://catalog.upp.pitt.edu/preview_course_nopop.php?catoid=72&coid=381897">Basic Laboratory Physics and Science and Engineering</a>
                            </p>

                            <h5 class="card-title">PHYS 0477</h5>
                            <p class="card-text">
                                <a href="https://catalog.upp.pitt.edu/preview_course_nopop.php?catoid=5&coid=20569">Principles of Modern Physics 1</a>
                            </p>

                            <h5 class="card-title">1 More Additional Physics Course</h5>
                            <p class="card-text">
                                <a href="/additional-physics">Choose From This List of Additional Physics Courses</a>
                            </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}