{% extends "base.html" %}
{% block title %}Major Requirements{% endblock %}   

{% block content%}

<div class="text-center">
    <h1>Computer Science Major</h1>
    <h5>Necesary Courses for Computer Science Major at Pitt</h5>

    <div class="card-body">
        <div class="container">
            <div class="text-center">
                <div class="card">
                    <div class="card-block">
                        <h1 class="card-title">Core Courses</h4>
                        <p class="card-text">
                        <h5 class="card-title">CMPINF 0401</h5>
                        <p class="card-text">Intermediate Programming</p>
                    
                        <h5 class="card-title">CS 0441</h5>
                        <p class="card-text">Discrete Structures for CS</p>
                
                        <h5 class="card-title">CS 0445</h5>
                        <p class="card-text">Data Structures</p>
                    
                        <h5 class="card-title">CS 0447</h5>
                        <p class="card-text">Computer Organization and Assembly Language</p>
                    
                        <h5 class="card-title">CS 0449</h5>
                        <p class="card-text">Introduction to Systems Software</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="container">
            <div class="text-center">
                <div class="card">
                  <div class="card-block">
                        <h1 class="card-title">Upper Level Courses</h1>
                        <p class="card-text">
                        <h5 class="card-title">CS 1501</h5>
                        <p class="card-text">Algorithm Implementation</p>
                
                        <h5 class="card-title">CS 1502</h5>
                        <p class="card-text">Formal Methods in Computer Science
                        </p>
                
                        <h5 class="card-title">CS 1550</h5>
                        <p class="card-text">Introduction to Operating Systems</p>
              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}