{% extends "base.html" %}
{% block title %}Additional Physics{% endblock %}   

{% block content%}
<div class="text-center">
    <h1>Additional Physics Courses</h1>
    <h5>One Additional Course From the Provided List is Need</h5>

    <div class="card-body">
        <div class="container">
            <div class="text-center">
                <div class="card">
                    <div class="card-block">
                        <h1 class="card-title" style="margin-top: 15px">
                            <a href="https://catalog.upp.pitt.edu/preview_course_nopop.php?catoid=5&coid=20542">PHYS 0481</a>
                        </h1>
                        <p style="text-align: left ; margin-left: 50px ; margin-right: 50px ; font-size: 18px">
                            This course, a follow up to PHYS 0477 (Principles of Modern Physics 1), will cover topics which include: 
                            quantum mechanics of many particle systems, multielectron atoms and the periodic table, basics of quantum 
                            stastical mechanics, introduction to solid state physics (conductors, semiconductors, superconductors), 
                            basic nuclear physics, and an introduction to elementary particle physics. This course will be an introduction
                             to the concepts and techinques necessary for understanding recent fundamental research and tecnology.
                        </p>

                        <h1 class="card-title">
                            <a href="https://www.physicsandastronomy.pitt.edu/sites/default/files/syllabi-files-2019/Syllabus_Physics%201374_2201_8-27-19.pdf">PHYS 1374</a>
                        </h1>
                        <p style="text-align: left ; margin-left: 50px ; margin-right: 50px ; font-size: 18px">
                            This course, Introduction to Solid State Physics, will cover some of the basic ideas of solid state physics. Materials will be taught 
                            through textbook, as well as the possibility for a "flipped classroom" through some of the professors
                        </p>

                        <h1 class="card-title">
                            <a href="https://www.physicsandastronomy.pitt.edu/sites/default/files/syllabi-files-2018/2018_Spring_Fundamentals%20of%20NanoScience_1375.pdf">PHYS 1375</a>
                        </h1>
                        <p style="text-align: left ; margin-left: 50px ; margin-right: 50px ; font-size: 18px">
                            This course, Foundations of Nanoscience, will overview issues that arise of physical systems at nanometer length
                            scales. The majority of the course will cover basic physics concepts such as quantam mechanis, electromagnetism
                            and statistical mechanics and how these concepts shift when the lengths and amount of atoms in the system get 
                            increasingly small. 
                        </p>

                        <h1 class="card-title">
                            <a href="https://www.physicsandastronomy.pitt.edu/sites/default/files/syllabi-files-2016/phys%201376-Wu.pdf">PHYS 1376</a>
                        </h1>
                        <p style="text-align: left ; margin-left: 50px ; margin-right: 50px ; font-size: 18px">
                            This course, Introduction to Biological Physics, is designed for students who are interested in studying 
                            life phenomena from a physics perspective. Important concepts from this course inclue: different energy 
                            forms and their transformations, Newton's law of motion for solid and soft bodies, electrostatics and molecular 
                            interactions, physics of reversible and irreversible processes, information processing and transmission, and the 
                            law of exponentials. 
                        </p>

                        <h1 class="card-title">
                            <a href="https://www.physicsandastronomy.pitt.edu/sites/default/files/syllabi-files-2016/phy1378.pdf">PHYS 1378</a>
                        </h1>
                        <p style="text-align: left ; margin-left: 50px ; margin-right: 50px ; font-size: 18px ; margin-bottom: 15px">
                            This course, Introduction to Nulcear and Particle Physics, will cover a variety of topics, including: 
                            typical experimental techniques for particle detection and acceleration, calculating particle physics
                            processes based on kinematics and conservation laws, the role of symmetries as an oganizing principle, 
                            the strucle of the standard model of particle physics, and phenomenological connections between results
                            of different laboratory and astrophysical experiments. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}