{% extends "base.html" %}
{% block title %}Schedule{% endblock %}   

{% block content%}
<div class="card text-center">
    <div class="card-header">
      <h1>2021-2022</h1>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="card">
                  <div class="card-block">
                   <h1 class="card-title">Fall Term 2021</h4>
                   <p class="card-text">
                    <h5 class="card-title">CMPINF 0010</h5>
                    <p class="card-text">Big Ideas in Computing</p>
              
                    <h5 class="card-title">CMPINF 0001</h5>
                    <p class="card-text">CS Freshman Seminar</p>
              
                    <h5 class="card-title">CMPINF 0401</h5>
                    <p class="card-text">Intermediate Programming</p>
              
                    <h5 class="card-title">MATH 0220</h5>
                    <p class="card-text">Calculus 1</p>
              
                    <h5 class="card-title">ENGCMP 0200</h5>
                    <p class="card-text">Seminar in Composition</p>
                   </p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  <div class="card-block">
                   <h1 class="card-title">Spring Term 2022</h1>
                   <p class="card-text">
                    <h5 class="card-title">CMPINF 0445</h5>
                    <p class="card-text">Algorithms and Data Structures 1</p>
              
                    <h5 class="card-title">HPS 0410</h5>
                    <p class="card-text">Einstein: Modern Science and Surprises
                    </p>
              
                    <h5 class="card-title">MATH 0230</h5>
                    <p class="card-text">Calculus 2</p>
              
                    <h5 class="card-title">ENGCMP 0400</h5>
                    <p class="card-text">Written Professional Communications</p>
                   </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
                30 Credits
              </div>
          </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <h1>2022-2023</h1>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="card">
                  <div class="card-block">
                   <h1 class="card-title">Fall Term 2022</h4>
                   <p class="card-text">
                    <h5 class="card-title">CS 0441</h5>
                    <p class="card-text">Discrete Structure for CS</p>
              
                    <h5 class="card-title">CS 0447</h5>
                    <p class="card-text">Computer Organization and Assembly Language</p>
              
                    <h5 class="card-title">PHYS 0110</h5>
                    <p class="card-text">Introduction to Physics 1</p>
              
                    <h5 class="card-title">STAT 1000</h5>
                    <p class="card-text">Applied Statistical Methods</p>
              
                    <h5 class="card-title">Music Theory</h5>
                    <p class="card-text">Some music theory course</p>
                   </p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  <div class="card-block">
                   <h1 class="card-title">Spring Term 2023</h1>
                   <p class="card-text">
                    <h5 class="card-title">CS 0449</h5>
                    <p class="card-text">Introduction to Systems Software</p>
              
                    <h5 class="card-title">CS 1501</h5>
                    <p class="card-text">Algorithm Implementation</p>
              
                    <h5 class="card-title">Physics 0111</h5>
                    <p class="card-text">Introduction to Physics 2</p>
              
                    <h5 class="card-title">COMMRC 1102</h5>
                    <p class="card-text">Organizational Communication</p>

                    <h5 class="card-title">Music Theory</h5>
                    <p class="card-text">Another music Elective (?)</p>
                   </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
                30 Credits
              </div>
          </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
{% endblock%}